@media (max-width: 1300px) {

    nav.navbar .navbar-brand {
        width: 25%;
    }

    nav.navbar .navbar-toggler {
        width: 43px;
        height: 35px;
        border: 1px solid var(--first-color);
        border-radius: 5px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    nav.navbar .navbar-toggler span {
        display: block;
        width: 60%;
        height: 2px;
        background-color: var(--first-color);
        margin: 0 !important;
    }

    nav.navbar .navbar-toggler:focus {
        box-shadow: none;
    }

    nav.navbar .navbar-collapse {
        padding-block: 10px;
        background: #ada996;
        background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
        background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
        border-radius: 10px;
        margin: 10px 0;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(1) li.nav-item,
    nav.navbar .navbar-collapse ul:nth-of-type(2) {
        text-align: center;
        width: -moz-fit-content;
        width: fit-content;
        margin-inline: auto !important;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(1) li.nav-item a {
        padding: 8px !important;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(2) {
        margin-top: 15px;
    }


    #SC-Carousel {
        overflow: hidden;
    }

    #SC-Carousel.vh-100 {
        height: 100vh !important;
        height: 100dvh !important;
        min-height: 600px;
    }

    #SC-Carousel .brand-carousel-item > .container {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    #SC-Carousel .content-col h2 {
        font-size: 30px;
    }

    #SC-Carousel .content-col .item {
        max-width: 480px;
    }

    #SC-Carousel .media-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #SC-Carousel .media-col .item {
        width: 100%;
        justify-content: center;
    }

    #SC-Carousel .brand-carousel-inner .brand-carousel-item .media-col img:nth-of-type(1) {
        width: 55%;
        max-height: 100%;
        object-fit: contain;
    }

    #SC-Carousel .brand-carousel-inner .brand-carousel-item.active .media-col img:nth-of-type(1) {
        transform: translate(0, 0);
    }

    #SC-Carousel .brand-carousel-inner .brand-carousel-item .media-col img:nth-of-type(2) {
        width: 70%;
        max-height: 90%;
        object-fit: contain;
    }

    #SC-Carousel > button {
        top: initial;
        bottom: 30px;
    }

    #SC-Carousel > button.prev {
        left: initial;
        right: 84px;
    }

    #SC-Carousel > button.next {
        right: 22px;
    }


    .brand-loadingScreen .box {
        width: 280px;
    }

    #Offer .item a:before {
        transform: translate(-0%, 50%) rotate(45deg);
    }

    #Offer .item a:hover:before {
        transform: translate(-150%, 150%) rotate(45deg);
    }

    #Latest .product .product-images ul {
        display: flex;
    }

    #Latest .product .product-content h3 {
        font-size: 18px;
    }

    #Feature .products .product .item {
        max-width: 280px;
        margin: auto;
    }

    .brand-popup .box {
        width: 280px !important;
    }

    .brand-popup[popup-name="shop"] .box {
        margin: 30px auto;
    }

    .brand-popup[popup-name="product"] {
        overflow-y: auto;
    }

    .brand-popup[popup-name="product"].active {
        display: block;
    }

    .brand-popup[popup-name="product"] .box {
        margin: 20px auto;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    nav.navbar .navbar-brand {
        width: 20%;
    }

    .brand-loadingScreen .box {
        width: 350px;
    }

    #Latest .product .product-content h3 {
        font-size: 20px;
    }

    .brand-popup .box {
        width: 350px !important;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    .brand-loadingScreen .box {
        width: 400px;
    }

    #Latest .product {
        width: 75%;
        margin: auto;
    }

    .brand-popup .box {
        width: 500px;
    }

    .brand-popup .product .product-body strong {
        font-size: 14px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #SC-Carousel .brand-carousel-item > .container {
        padding-top: 110px;
    }
}


@media (min-width: 769px) and (max-width: 1300px) {
    nav.navbar .navbar-brand {
        width: 12%;
    }

    #Home {
        overflow: hidden;
    }

    #SC-Carousel.vh-100 {
        min-height: 520px;
    }

    #SC-Carousel .brand-carousel-item > .container {
        padding-top: 80px;
        padding-bottom: 0;
    }

    #SC-Carousel .brand-carousel-item .row {
        flex-wrap: nowrap;
    }

    #SC-Carousel .content-col,
    #SC-Carousel .media-col {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    #SC-Carousel .media-col {
        height: 100%;
    }

    #SC-Carousel .brand-carousel-inner .brand-carousel-item .media-col img:nth-of-type(1) {
        width: 70%;
    }

    #SC-Carousel .brand-carousel-inner .brand-carousel-item.active .media-col img:nth-of-type(1) {
        transform: translate(-20px, -20px);
    }

    #SC-Carousel .brand-carousel-inner .brand-carousel-item .media-col img:nth-of-type(2) {
        width: 85%;
    }

    .brand-loadingScreen .box {
        width: 500px;
    }

    .brand-popup[popup-name="shop"] .box,
    .brand-popup[popup-name="product"] .box {
        width: 750px !important;
    }
}


@media (min-width: 992px) and (max-width: 1300px) {
    nav.navbar {
        padding: 0;
    }

    nav.navbar .navbar-brand {
        width: 8%;
    }

    nav.navbar .navbar-toggler {
        display: none;
    }

    nav.navbar .navbar-collapse {
        background: transparent;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(1) li.nav-item,
    nav.navbar .navbar-collapse ul:nth-of-type(2) {
        text-align: initial;
        width: initial;
        margin-inline: initial !important;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(1) {
        margin-bottom: 0 !important;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(2) {
        margin-top: 0;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(1) li.nav-item {
        margin-inline: initial !important;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(1) li.nav-item:not(:last-child) {
        margin-right: 15px !important;
    }

    #Latest .product {
        width: 100%;
        margin: initial;
    }

    #Latest .product .product-images ul {
        display: block;
    }
}